{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <h1>Account index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Iban</th>
                <th>Balance</th>
                <th>Type</th>
                <th>Mount Debit</th>
                <th>Propietaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.iban }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.type }}</td>
                <td>{{ account.mountDebit }}</td>
                <td>{{ account.owner.firstname }}- {{ account.owner.lastname }}</td>
                <td>
                    <a href="{{ path('account_show', {'id': account.id}) }}">show</a>
                    <a href="{{ path('account_edit', {'id': account.id}) }}">edit</a>
                                        <a class="btn btn-primary" href="{{ path('new_transaction', {'id': account.id}) }}">Créer Transaction</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_new') }}">Create new</a>
{% endblock %}
