{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<style>
.debit a{
    color:red;
}
.credit a{
    color:green;
}
</style>
    <h1>Account</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ account.iban }}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ account.balance }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ account.type }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ account.owner.lastname }} - {{ account.owner.firstname }} </td>
            </tr>
        </tbody>
    </table>

 <table>
        <tr>
            <th>Date</th>
            <th>Debits</th>
            <th>Credits</th>
        </tr>
        {% for transaction in debitsCredits|sort((a, b) => a.date <=> b.date) %}
            <tr>
                <td>{{ transaction.date|date("d-m-Y H:i:s") }}
                <td class='debit'>{% if transaction.debitAccount.id == account.id %}<a href="{{ path('transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>{% endif %}</td>
                <td class='credit'>{% if transaction.creditAccount.id == account.id %}<a href="{{ path('transaction_show', {'id': transaction.id}) }}">{{ transaction.amount }}</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>


    <a href="{{ path('account_index') }}">back to list</a>

    <a href="{{ path('account_edit', {'id': account.id}) }}">edit</a>
        <a href="{{ path('transaction_index', {'id': account.id}) }}">Ver transaciones</a>


    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
