{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>RoadNumber</th>
                <th>RoadName</th>
                <th>Birthday</th>
                <th>Sex</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.zipCode }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.roadNumber }}</td>
                <td>{{ person.roadName }}</td>
                <td>{{ person.birthday ? person.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ person.sex ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('person_new') }}">Create new</a>
{% endblock %}
